@import 'libs/bootstrap-reboot.min';
@import "libs/font";
@import "libs/slick";
@import "base/variables";
@import "blocks/promo";
@import "blocks/advantages";
@import "blocks/menu";
@import "blocks/consultation";
@import "blocks/title";
@import "blocks/feedback";
@import "blocks/btn";
@import "blocks/work";
@import "blocks/carousel";
@import "blocks/scheme";
@import "blocks/info-block";
@import "blocks/info-block2";
@import "blocks/divider";
@import "blocks/fixed-hamburger";
@import "blocks/header";
@import "blocks/price";
@import "blocks/pageup";
@import "adaptation/promo-media";
@import "adaptation/advantages-media";
@import "adaptation/work-media";
@import "adaptation/fixed-hamburger-media";
@import "adaptation/title-media";
@import "adaptation/divider-media";
@import "adaptation/btn-media";
@import "adaptation/header-media";
@import "adaptation/container-media";
@import "adaptation/price-media";
@import "adaptation/consultation-media";
@import "adaptation/slider-media";

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.container  {
    width: 1140px;
    margin: 0 auto;
}

.line {
	width: 148px;
	height: 1px;
	background-color: $main-color;
	margin: 20px auto 0 auto;
}
