#map {
	width: 100%;
	height: 500px;
}
.contacts {
	position: relative;

	.address {
		position: absolute;
		background-color: #fff;
		border-radius: 5px;
		width: 329px;
		height: 158px;
		padding: 27px 50px 27px 30px;
		top: 28%;
		left: 55%;
		&__street {
			margin: 3px 0 0 0;
			text-align: left;
			font-size: 14px;
			font-weight: 300;
			color: #3a3a3a;
		}

		&__city{
			margin: 3px 0 0 0;
			font-size: 16px;
			line-height: 20px;
			font-weight: 700;
			color: $main-color;

		}

		&__email {
			display: block;
			margin: 3px 0 0 0;
			font-size: 14px;
			font-weight: 300;
			text-decoration: underline;
			color: $main-color;
		}

		&__tel {
			display: block;
			margin: 3px 0 0 0;
			font-size: 14px;
			font-weight: 300;
			color: #3a3a3a;
		}
		a {
			&:hover {
				color: black
			}
		}
		&:before {
			content: ''; 
		    position: absolute;
		    left: -14%; top:32%; 
		    border: 25px solid transparent; 
		    border-top: 25px solid white; 
		    transform: rotate(90deg);
		}
	}
}





