@media (max-width: 992px){
	.price{
	   	&__wrapper {
	   		justify-content: space-around;
	   	}
   }
}

@media (max-width: 768px){
	.price{
	   	&__wrapper {
	   		justify-content: center;
	   		flex-direction: column;
	   	}
   }
}