@media (max-width: 1200px){
	.promo {
	 	&__text {
		font-size: 14px;
		}
	}			
}


@media (max-width: 992px){	
	.promo {
		&__text {
		font-size: 11px;
		line-height: 16px;
		margin: 8px 0 0 0;
		}
		&__img {
		width: 50px;
		height: 50px;
		}	
	}			
}

@media (max-width: 768px){
	.promo {	
		padding-top: 55px;	
	}	
}

@media (max-width:576px){
    .promo {
    	&__wrapper {
    		flex-direction: column;
    		align-items: center;
    		width: auto;
    	}
    	&__block {
    		margin-bottom: 20px;
    		width: 300px;
    	}
    	&__text {
    		margin-top: 10px;
    		font-size: 13px;
    	}
    }
}
